{% extends 'table.html' %}

{% block content %}
<h1>{{ name }}<small>老師</small></h1>
{% if start_year and end_year %}
<div class="alert alert-success" role="alert">
  篩選列出自 <strong>{{ start_year }}</strong> 至 <strong>{{ end_year }}</strong> 年度之記錄。<a href="/teacher/{{ t_id }}/" class="alert-link">點此</a>還原顯示所有年度記錄。
</div>
{% endif %}
<div id="toolbar"></div>
<table class="table table-striped" id="table"
  data-toggle="table"
  data-search="true"
  data-toolbar="#toolbar"
  data-sort-name="year"
  data-sort-order="desc"
  data-show-export="true"
  data-filter-control="true"
  data-export-types="['csv', 'txt']">
  <thead>
    <tr>
      <th data-field="committe" data-sortable="true" class="col-md-6">委員會</th>
      <th data-field="level" data-sortable="true" data-filter-control="select" class="col-md-3">院/校級</th>
      <th data-field="year" data-sortable="true" data-filter-control="select" class="col-md-3">年度</th>
    </tr>
  </thead>
  <tbody>
    {% for rec in records %}
      <tr>
        <td><a href="/committee/{{ rec.c_id }}/">{{ rec.committee }}</a></td>
        <td>{{ rec.committee_level }}</td>
        <td>{{ rec.year }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
